<li class="nav-item">
    <a href="{{ url_for('tasks_ui.scheduled_tasks') }}" class="nav-link">
        <i class="nav-icon fas fa-clock"></i>
        <p>Scheduled Tasks</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('tasks_ui.alerts') }}" class="nav-link">
        <i class="nav-icon fas fa-bell"></i>
        <p>Alerts</p>
    </a>
</li>
<li class="nav-item">
    <a href="{{ url_for('tasks_ui.task_chains') }}" class="nav-link">
        <i class="nav-icon fas fa-link"></i>
        <p>Task Chains</p>
    </a>
</li> 